p {
	font-size: 3em
	text-align: center;
	line-height: 50px;
  }

h1 {	
	footer{
			font-style: normal;
			color: #090;
			font-weight: bold;
			font-size: 48pt;
			text-transform: uppercase;
			text-align: center;
			border: 2px solid;
			border-radius: 5px;
			background-color: #FAF7D2;
		}
	}

h2 {
		color: FAF7D2;
		background-color: #94C929;
		border: 2px solid;
		border-radius: 5px;
		text-align: center;
		margin-left: 25%;
		margin-right: 25%;
	}

h3 {
		color: #C76825;
		text-align: center;
		font-size: 24pt;
		border: 2px solid;
		border-radius: 5px;
		background-color: #FAF7D2;
	}

body {
		font-size: 2em
		text-align: center;
		font-family: arial, helvetica, sans-serif;
		font-size: 14px;
		color: #008;
		background-color: #fed;
		margin: 25px;
		padding: 0;
	 }

#zen-intro {
				font-size: 1.25em;
				text-align: center;
				border-style: dashed;
				border-width: 2px;
				border-color: #FAF7D2;
				background-color: #FAF7D2;
		   }

#zen-summary {
				color: #999230;
				font-size: 2em;
				line-height: 5px;
			 }

#zen-preamble{
				color: #872560;
				background-color: #076522;
				padding: 20px;
				padding-left: 10px;
				margin: 0px;
			 }

#design-selection{ 
					height: 80;
					width: 40;
					color: #820238;
					display: inline-flex;
				 }